spring:
  cloud:
    config:
      discovery:
        enabled: true
      label: master
      server:
        git:
          uri: https://gitee.com/zhuzhiou/ebox-config-repo.git
          username: ${spring.cloud.config.server.git.username}
          password: ${spring.cloud.config.server.git.password}
eureka:
  instance:
    prefer-ip-address: true
  client:
    use-dns-for-fetching-service-urls: true
    region: cn-hangzhou
    eureka-server-d-n-s-name: ilocker.cc
    eureka-server-port: 8761
    eureka-server-u-r-l-context: eureka
logging:
  file: /var/log/ebox/${spring.application.name}.log